Client/Client/Connected Services/Service/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWCFService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IDownloadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IDownloadService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Service" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IWCFService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IWCFService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetProductTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTable" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetProductTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductTableResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IWCFService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriend" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetChat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChat" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_BuyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyProduct" />
  </wsdl:message>
  <wsdl:message name="IWCFService_BuyProductWholesale_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyProductWholesale" />
  </wsdl:message>
  <wsdl:message name="IWCFService_CheckBlacklist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckBlacklist" />
  </wsdl:message>
  <wsdl:message name="IWCFService_CheckBlacklist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckBlacklistResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddModerationProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddModerationProduct" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IWCFService_AddToBlacklist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToBlacklist" />
  </wsdl:message>
  <wsdl:message name="IWCFService_RemoveFromBlacklist_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromBlacklist" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SaveCart_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCart" />
  </wsdl:message>
  <wsdl:message name="IWCFService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IWCFService_CheckProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckProfile" />
  </wsdl:message>
  <wsdl:message name="IWCFService_CheckProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IWCFService_ConnectionFromAnotherDevice_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConnectionFromAnotherDevice" />
  </wsdl:message>
  <wsdl:message name="IWCFService_GetFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FriendOnline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendOnline" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_DownloadProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadProduct" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_DownloadProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadProductResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IWCFService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/Connect" message="tns:IWCFService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ConnectResponse" message="tns:IWCFService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/AddProduct" message="tns:IWCFService_AddProduct_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/Disconnect" message="tns:IWCFService_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProductTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetProductTable" message="tns:IWCFService_GetProductTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetProductTableResponse" message="tns:IWCFService_GetProductTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/Register" message="tns:IWCFService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/RegisterResponse" message="tns:IWCFService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/AddFriend" message="tns:IWCFService_AddFriend_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetChat" message="tns:IWCFService_GetChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetChatResponse" message="tns:IWCFService_GetChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BuyProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/BuyProduct" message="tns:IWCFService_BuyProduct_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BuyProductWholesale">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/BuyProductWholesale" message="tns:IWCFService_BuyProductWholesale_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CheckBlacklist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/CheckBlacklist" message="tns:IWCFService_CheckBlacklist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/CheckBlacklistResponse" message="tns:IWCFService_CheckBlacklist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddModerationProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/AddModerationProduct" message="tns:IWCFService_AddModerationProduct_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DeleteAccount" message="tns:IWCFService_DeleteAccount_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddToBlacklist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/AddToBlacklist" message="tns:IWCFService_AddToBlacklist_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveFromBlacklist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/RemoveFromBlacklist" message="tns:IWCFService_RemoveFromBlacklist_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/SendMsg" message="tns:IWCFService_SendMsg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SaveCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/SaveCart" message="tns:IWCFService_SaveCart_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/SendFriendRequest" message="tns:IWCFService_SendFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CheckProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/CheckProfile" message="tns:IWCFService_CheckProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/CheckProfileResponse" message="tns:IWCFService_CheckProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/GetAllUsers" message="tns:IWCFService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetAllUsersResponse" message="tns:IWCFService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetMessage" message="tns:IWCFService_GetMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectionFromAnotherDevice">
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ConnectionFromAnotherDevice" message="tns:IWCFService_ConnectionFromAnotherDevice_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/GetFriendRequest" message="tns:IWCFService_GetFriendRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendOnline">
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FriendOnline" message="tns:IWCFService_FriendOnline_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDownloadService">
    <wsdl:operation name="DownloadProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadService/DownloadProduct" message="tns:IDownloadService_DownloadProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadService/DownloadProductResponse" message="tns:IDownloadService_DownloadProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWCFService" type="tns:IWCFService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWCFService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/AddProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetProductTable">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetProductTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriend">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/AddFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetChat">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyProduct">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/BuyProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="BuyProductWholesale">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/BuyProductWholesale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CheckBlacklist">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/CheckBlacklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddModerationProduct">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/AddModerationProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddToBlacklist">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/AddToBlacklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromBlacklist">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/RemoveFromBlacklist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveCart">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/SaveCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CheckProfile">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/CheckProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionFromAnotherDevice">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/ConnectionFromAnotherDevice" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/GetFriendRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendOnline">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/FriendOnline" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDownloadService" type="tns:IDownloadService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDownloadService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DownloadProduct">
      <soap12:operation soapAction="http://tempuri.org/IDownloadService/DownloadProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IDownloadService1" type="tns:IDownloadService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDownloadService1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DownloadProduct">
      <soap12:operation soapAction="http://tempuri.org/IDownloadService/DownloadProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="NetTcpBinding_IWCFService" binding="tns:NetTcpBinding_IWCFService">
      <soap12:address location="net.tcp://25.78.76.9:904/1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://25.78.76.9:904/1</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDownloadService" binding="tns:NetTcpBinding_IDownloadService">
      <soap12:address location="net.tcp://25.78.76.9:904/2" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://25.78.76.9:904/2</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IDownloadService1" binding="tns:NetTcpBinding_IDownloadService1">
      <soap12:address location="net.tcp://25.78.76.9:904/3" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://25.78.76.9:904/3</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>