Client/Client/Connected Services/Service/System1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:complexType name="ArrayOfTupleOfProductintzniiAH5W">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfProductintzniiAH5W" nillable="true" type="tns:TupleOfProductintzniiAH5W" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfProductintzniiAH5W" nillable="true" type="tns:ArrayOfTupleOfProductintzniiAH5W" />
  <xs:complexType name="TupleOfProductintzniiAH5W">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Product" Namespace="http://schemas.datacontract.org/2004/07/Service" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" name="m_Item1" nillable="true" type="q1:Product" />
      <xs:element name="m_Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfProductintzniiAH5W" nillable="true" type="tns:TupleOfProductintzniiAH5W" />
</xs:schema>